<div class="menu__sidebar__left__container">
    <div class="menu__sidebar__left__header">
        <img class="code__learning__button" src="assets/img/menuSidebarLeft/channels-button.webp">
        <!-- <span class="material-symbols-rounded">
            edit_square
        </span> -->
        <div class="hover-area noSelect" href="#">
            <div class="transform-circle"></div>
            <span class="material-symbols-rounded single-icon">edit_square</span>
        </div>
    </div>
    <img src="assets/img/menuSidebarLeft/title.webp">
</div>