@import "../../styles/settings/_variables.scss";

.menu__sidebar__left__header {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    div {
        margin-bottom: 5px;
    }
}

.sidebar__body {
    // position: relative;
    height: 100%;
    // width: 276px;
    overflow-y: auto;
    
    app-channels-menu {
        margin-bottom: 25px;
    }

    button {
        width: 60px;
        height: 60px;
        position: fixed;
        left: 285px;
        bottom: 15px;
    }

    @media (width <= $mobile__breakpoint__general) {
        margin-top: 10px;
    }
}