@import "../../styles/settings/_variables.scss";

.menu__sidebar__left__header {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    div {
        margin-bottom: 5px;
    }
}

.sidebar__body {
    overflow-y: auto;
    
    app-channels-menu {
        margin-bottom: 25px;
    }

    @media (width <= 1200px) {
        margin-top: 10px;
    }
}