<div class="menu__sidebar__left__header hidden__mobile">
    <img src="assets/img/menuSidebarLeft/channels-button.webp">
    <div class="hover-area noSelect">
        <div class="transform-circle"></div>
        <span class="material-symbols-rounded single-icon">edit_square</span>
    </div>
</div>

<div class="sidebar__body">
    <app-channels-menu></app-channels-menu>
    <app-dm-menu></app-dm-menu>

    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
    </button>
</div>