.menu__sidebar__left__container {
    display: flex;
    flex-direction: column;

    .menu__sidebar__left__header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        div {
            margin-bottom: 5px;
        }
    }

    .menu__sidebar__left__body {
        padding-top: 10px;
        
        .menu__sidebar__left__body__channels__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu__sidebar__left__body__channels__header__left {
                display: flex;
                align-items: center;

                span {
                    margin-right: 10px;
                }

                img {
                    width: 121px;
                    height: 27px;
                }
            }
        }
    }
}