<div class="menu__sidebar__left__header hidden__mobile noSelect">
    <img src="assets/img/menuSidebarLeft/channels-button.webp">
    <div class="hover-area noSelect" style="display: none !important;">
        <div class="transform-circle"></div>
        <span class="material-symbols-rounded single-icon">edit_square</span>
    </div>
</div>

<div class="sidebar__body noSelect">
    <app-channels-menu></app-channels-menu>
    <app-dm-menu></app-dm-menu>

    <button class="hidden__desktop" mat-fab color="primary" id="menuSidebarLeftFAB">
        <span class="material-symbols-rounded" style="display: none !important;">edit_square</span>
    </button>
</div>