<!-- <div class="main__chat__footer">

    <textarea placeholder=" " [(ngModel)]="this.message.text"></textarea>

    <div class="btn__area">

        <div class="btn__area__left">
            <div class="plus">
                <div class="hover-area noSelect">
                    <div class="transform-circle"></div>
                    <span class="material-symbols-rounded single-icon">add</span>
                </div>
            </div>
            <div class="hover-area noSelect reaction__icons">
                <div class="transform-circle"></div>
                <span class="material-symbols-rounded single-icon">sentiment_satisfied</span>
            </div>
            <div class="hover-area noSelect reaction__icons">
                <div class="transform-circle"></div>
                <span class="material-symbols-rounded single-icon">alternate_email</span>
            </div>
        </div>


        <div class="hover-area noSelect">
            <div class="transform-circle"></div>
            <img src="assets/img/mainChat/send.webp" alt="" class="send__img single-icon" (click)="test()">
        </div>


    </div>
</div> -->

<form action="">
    <textarea></textarea>
    <div class="btnarea"></div>
</form>