<div class="main-reset-password-container">
    <div class="left-login-menü">
        <img src="favicon.ico" alt="">
        <p>Sync Space</p>
    </div>

    <div class="reset-password-container">
        <h2> <span [routerLink]="''" class="material-icons"> arrow_back</span> Passwort zurücksetzen</h2>
        <p class="email-info">Bitte geben Sie Ihre E-Mail-Adresse an</p>

        <form class="example-form">


            <input class="input" type="email" placeholder="beispielname@email.com" #mail required>
        </form>

        <p class="info-process">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort zurücksetzen können.</p>

        <div class="button">
            <button mat-flat-button (click)="resetPassword(mail.value)" color="primary">E-Mail senden</button>
        </div>
    </div>

</div>