.main-reset-password-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.left-login-menü {
    padding-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    img {
        height: 50px;
        width: 50px;
    }
    p {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

h2 {
    color: #444DF2;
    font-size: 46px;
    font-weight: 700px;
    span {
        color: #000000;
    }
}

.reset-password-container {
    display: flex;
    height: 600px;
    flex-direction: column;
    width: 50%;
    background-color: white;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 30px;
    span {
        cursor: pointer;
    }
}

.email-info {
    font-size: 20px;
}

.info-process {
    font-size: 20px;
    color: #686868;
}

.button {
    width: 90%;
    display: flex;
    justify-content: end;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ECEEFE;
    border: none;
    width: 70%;
    font-size: 18px;
    height: 50px;
    border-radius: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 25px;
    padding-left: 100px;
    background-image: url('/assets/img/password/mail.png');
}