@import "../../styles/settings/_variables.scss";

.general__view__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-color-light-mode;

    header {
        display: flex;
        margin-bottom: $general__margin;

        app-home-workspaces {
            padding: 0 38.5px;
            margin-right: $general__margin;

            @media (width <= 1400px) {
                padding: 0 8.5px;
            }
        }

        app-search-bar {
            flex: 1;
            height: 70px;
            background-color: $background-color-boxes-light-mode;
            border-radius: 42px;
            padding-left: 45px;
            padding-right: 45px;
        }

        app-profile-menu {
            display: flex;
            justify-content: end;
            width: 485px;
            margin-left: $general__margin;

            @media (width <= 1600px) {
                width: 404px;
            }

            @media (width <= 1400px) {
                width: 303px;
            }
        }
    }

    main {
        display: flex;

        app-menu-sidebar-left {
            margin-right: $general__margin;
            width: 306px;
            height: calc(100vh - 25px - 70px - 25px - 25px - 25px - 30px);
            background-color: $background-color-boxes-light-mode;
            padding: 30px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            transition: padding 100ms ease-in-out;
            transition: margin-right 100ms ease-in-out;
            transition: width 100ms ease-in-out;

            @media (width <= 1400px) {
                width: 276px;
                height: calc(100vh - 25px - 70px - 25px - 25px - 25px);
                padding: 15px;
            }
            
        }

        .sidebar__left__reduce__width {
            padding: 0;
            margin-right: 0;
            width: 0;
        }

        app-main-chat {
            flex: 10;
            min-width: 0px;
        }

        app-main-direct-message {
            flex: 1;
        }

        app-secondary-chat {
            flex: 1;
            width: 0px;
            margin-left: 0px;
            transition: padding 100ms ease-in-out;
            transition: width 100ms ease-in-out;
        }
    }
}