<div *ngIf="this.currentUser" class="general__view__container container">
    <nav>
        <app-home-workspaces></app-home-workspaces>
        <app-menu-sidebar-left id="menuSidebarLeft"></app-menu-sidebar-left>
    </nav>

    <main>
        <app-search-bar></app-search-bar>
        <!-- <app-main-direct-message></app-main-direct-message> -->
        <app-main-chat></app-main-chat>
    </main>

    <aside>
        <app-profile-menu [userID]="this.dataService.id"></app-profile-menu>
        <app-secondary-chat *ngIf="this.currentUser.openThread"></app-secondary-chat>
    </aside>
</div>