@import "../../styles/settings/_variables.scss";

.general__view__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $background-color-light-mode;

    nav {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        app-home-workspaces {
            height: 70px;
            margin-bottom: 20px;
        }

        app-menu-sidebar-left {
            flex: 2;
            background-color: $background-color-boxes-light-mode;
            padding: 30px;
            border-radius: 30px;
            overflow: auto;
        }

        .fade__bar {
            display: none;
        }
    }

    main {
        flex: 2;
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        app-search-bar {
            height: 70px;
            margin-bottom: 20px;
            background-color: $background-color-boxes-light-mode;
            border-radius: 42px;
            padding-left: 45px;
            padding-right: 45px;
        }

    }

    aside {
        display: flex;
        flex-direction: column;

        app-profile-menu {
            height: 70px;
            margin-bottom: 20px;
            display: flex;
            justify-content: end;
        }
    }
}