<div *ngIf="this.currentUser" class="general__view__container container">

    <header>
        <app-home-workspaces></app-home-workspaces>
        <app-search-bar></app-search-bar>
        <app-profile-menu [userID]="this.dataService.id"></app-profile-menu>
    </header>

    <main>
        <app-menu-sidebar-left id="menuSidebarLeft"></app-menu-sidebar-left>
        <app-main-chat *ngIf="!this.currentUser.viewChat"></app-main-chat>
        <app-main-direct-message *ngIf="this.currentUser.viewChat"></app-main-direct-message>
        <app-secondary-chat style="display:none;visibility:hidden;" id="secondaryChat" *ngIf="this.currentUser.openThread"></app-secondary-chat>
    </main>
</div>