<div class="main__chat__container">

    <div class="main__chat__header">
        <div class="main__chat__header__left">
            <span class="material-symbols-rounded">tag</span><span></span>

        </div>
        <div class="main__chat__header__right">
            <div class="header__users__img">
                <img src="assets/img/users/elias-neumann.webp" alt="">
            </div>
            <span class="users__count"></span>

        </div>
    </div>

    <div class="chat__seperator"></div>

    <app-main-direct-message-body></app-main-direct-message-body>
    <app-main-direct-message-footer></app-main-direct-message-footer>


</div>