<div class="main__chat__container" *ngIf="lastDM">

    <div class="main__chat__header">
        <div class="main__chat__header__left">

            <div *ngFor="let member of lastDM.members">
                <div *ngIf="member.id !== this.dataService.id">
                    <img src="assets/img/users/elise-roth.webp" alt="" srcset="">
                    <span>{{member.name}}</span>

                </div>
            </div>
        </div>


    </div>

    <div class="chat__seperator"></div>

    <app-main-direct-message-body></app-main-direct-message-body>
    <app-main-direct-message-footer></app-main-direct-message-footer>


</div>