<div class="sign-in-main-container">
    <div class="image">
        <img src="favicon.ico" alt="">
        <p>Sync Space</p>
    </div>
    <div class="sign-in-container">

        <h2> <span [routerLink]="''" class="material-icons">
            arrow_back
            </span>Konto erstellen</h2>
        <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues Sync Space-Konto.</p>




        <form action="" #userForm="ngForm">

            <input class="input name" type="email" placeholder="Name und Vorname" [(ngModel)]="user.Name" name="Name">
            <input class="input login" type="email" placeholder="beispielname@email.com" [(ngModel)]="user.mail" name="mail">
            <input class="input password" type="password" placeholder="Passwort" #password required>

        </form>

        <div class="button">
            <button (click)="createAccount(password, userForm)" mat-flat-button color="primary">Weiter</button>
        </div>
    </div>
</div>