<div *ngIf="test && !addMembers" class="noSelect">
    <div class="title">
        <h2>Mitglieder</h2>
        <div class="hover-area noSelect" (click)="closeDialog()">
            <div class="transform-circle"></div>
            <span class="material-symbols-rounded single-icon add-icon">close</span>
        </div>
    </div>

    <div *ngIf="this.data" class="results">
        <!-- <p *ngFor="let user of this.data.members" (click)="openDialogProfil(user.id)"> {{user.name}}</p> -->
        <div class="result__row" *ngFor="let user of this.updateMembers" (click)="openDialogProfil(user.id)">
            <img src={{user.profileImage}} alt="" srcset="">
            {{user.name}}
        </div>
    </div>

    <div (click)="activAddMembers()" class="result__row__add">
        <div class="person_add">
            <div></div>
            <span class="material-symbols-rounded">person_add</span>
        </div>
        <span class="person__add__text">Mitglieder hinzufügen</span>
    </div>

</div>

<div *ngIf="addMembers" class="noSelect">

    <!-- <div *ngIf="addMembers && test" class="spacer">
    </div> -->

    <div class="title noSelect">
        <h2>Leute hinzufügen</h2>
        <div class="hover-area noSelect" (click)="closeDialog()">
            <div class="transform-circle"></div>
            <span class="material-symbols-rounded single-icon add-icon">close</span>
        </div>
    </div>

    <input class="name__search" type="text" placeholder="Name eingeben" [(ngModel)]="inputParticipants"
        (ngModelChange)="this.filterUser()">

    <div *ngIf="this.filteredUsers.length > 0" class="users__results">
        <div *ngFor="let user of filteredUsers" (click)="pushUserToMember(user)" class="users__results__row">
            <img src="assets/img/users/elise-roth.webp" alt="" srcset="">
            <div>{{user.name}}</div>
        </div>
    </div>

    <div class="add__members__footer">
        <button [disabled]="this.selectedUser.length < 1"
            [ngClass]="{ 'disabled__button': this.selectedUser.length < 1 }"
            (click)="addNewMembersToChannel()">Bestätigen</button>
    </div>
    <div class="users__to__add" #usersToAdd></div>
</div>