.secondary__chat__body__message .separator {
  padding: 10px 0;
}
.secondary__chat__body__message .separator hr {
  border: 0;
  border-top: 1px solid #ADB0D9;
}
.secondary__chat__body__message .separator .answer__counter__container {
  display: flex;
  justify-content: start;
  margin-top: -23px;
}
.secondary__chat__body__message .separator .answer__counter__container .answer__counter {
  background-color: #FFFFFF;
  border: 0;
  outline: 0;
  padding: 5px 15px;
}
.secondary__chat__body__message .separator .answer__counter__container .answer__counter span {
  font-weight: 600;
  font-size: 18;
  padding: 5px 15px;
}
.secondary__chat__body__message .message__body {
  position: relative;
  display: flex;
  margin: 5px -35px 10px -35px;
  padding: 20px 35px;
  cursor: pointer;
}
.secondary__chat__body__message .message__body .action__messages {
  position: absolute;
  top: -15px;
  right: 55px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3px 20px;
  border: 1px solid #ADB0D9;
  border-radius: 25px 25px 0px 25px;
  background-color: #FFFFFF;
  cursor: auto;
  visibility: hidden;
  transition: transform ease-in 75ms;
}
.secondary__chat__body__message .message__body .action__messages * {
  cursor: pointer;
}
.secondary__chat__body__message .message__body .action__messages img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.secondary__chat__body__message .message__body:hover {
  transition: all ease-in 100ms;
  background-color: #ECEEFE;
}
.secondary__chat__body__message .message__body:hover .user__text__body {
  background-color: #FFFFFF !important;
}
.secondary__chat__body__message .message__body:hover .action__messages {
  visibility: visible;
  transform: translateX(10px);
}
.secondary__chat__body__message .message__body img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.secondary__chat__body__message .message__body .user__text {
  width: 75%;
  margin: 0 30px;
}
.secondary__chat__body__message .message__body .user__text .user__text__header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.secondary__chat__body__message .message__body .user__text .user__text__header .user__name {
  font-weight: 700;
  font-size: 18px;
}
.secondary__chat__body__message .message__body .user__text .user__text__header .user__name:hover {
  color: #535AF1;
}
.secondary__chat__body__message .message__body .user__text .user__text__header .message__timestamp {
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  margin: 0 20px;
}
.secondary__chat__body__message .message__body .user__text .user__text__body {
  padding: 15px;
  background-color: #ECEEFE;
  border-radius: 0px 30px 30px 30px;
  margin-bottom: 12px;
}
.secondary__chat__body__message .message__body .user__text .user__text__body span {
  font-size: 18px;
}
.secondary__chat__body__message .message__body .user__text .user__text__footer {
  display: flex;
  justify-content: start;
}
.secondary__chat__body__message .message__body .user__text .user__text__footer {
  justify-content: end;
}
.secondary__chat__body__message .message__body .user__text .user__text__footer .user__text__footer__emoji {
  background-color: #FFFFFF;
  border: 1px solid #ADB0D9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 12px;
  transition: border 100ms ease-in;
}
.secondary__chat__body__message .message__body .user__text .user__text__footer .user__text__footer__emoji img {
  border-radius: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.secondary__chat__body__message .message__body .user__text .user__text__footer .user__text__footer__emoji span {
  font-size: 16px;
}
.secondary__chat__body__message .message__body .user__text .user__text__footer .user__text__footer__emoji:hover {
  border: 1px solid #535AF1;
}
.secondary__chat__body__message .content__left .message__body {
  flex-direction: row-reverse;
}
.secondary__chat__body__message .content__left .message__body .action__messages {
  left: 55px;
}
.secondary__chat__body__message .content__left .message__body .user__text .user__text__header {
  flex-direction: row-reverse;
}
.secondary__chat__body__message .content__left .message__body .user__text .user__text__body {
  background-color: #797EF3;
  border-radius: 30px 0px 30px 30px;
}
.secondary__chat__body__message .content__left .message__body .user__text .user__text__body span {
  color: #FFFFFF;
}
.secondary__chat__body__message .content__left .message__body .user__text .add__reaction {
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: transform 100ms ease-in;
}
.secondary__chat__body__message .content__left .message__body .user__text .add__reaction span {
  font-size: 24px;
}
.secondary__chat__body__message .content__left .message__body .user__text .add__reaction:hover span {
  transform: scale(1.1);
}
.secondary__chat__body__message .content__left:hover {
  background-color: #ECEEFE;
}
.secondary__chat__body__message .content__left:hover .action__messages {
  visibility: visible;
  transform: translateX(-10px);
}
.secondary__chat__body__message .content__left:hover .user__text__body {
  background-color: #797EF3 !important;
}/*# sourceMappingURL=secondary-chat-body.component.css.map */