<div class="secondary__chat__container">

    <div class="secondary__chat__header">
        <div class="secondary__chat__header__left">
            <span>Thread</span>
            <span class="material-symbols-rounded subtitle">tag</span><span class="subtitle">Entwicklerteam</span>
        </div>
        <div class="secondary__chat__header__right">
            <span class="material-symbols-rounded">close</span>
        </div>
    </div>

    <div class="chat__seperator"></div>

    <app-secondary-chat-body></app-secondary-chat-body>

    <app-secondary-chat-footer></app-secondary-chat-footer>
</div>