@import "../../styles/settings/_variables.scss";

.secondary__chat__container {
    display: flex;
    flex-direction: column;
    background-color: $background-color-boxes-light-mode;
    border-radius: 30px;
    overflow: auto;
    width: 485px;
    height: calc(100vh - 140px); // QnD fix


    .secondary__chat__header {
        display: flex;
        justify-content: space-between;
        padding: 28px 45px;

        .secondary__chat__header__left {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            padding: 6px 10px;
            border-radius: 100px;

            span {
                font-weight: 700;
                margin-right: 14px;
            }

            .subtitle {
                font-weight: 400;
                font-size: 14px;
                color: $main-chat-dark-blue-background-light-mode;
            }
        }

        .secondary__chat__header__right {
            display: flex;
            align-items: center;

            .header__users__img {
                display: flex;
                align-items: center;

                img {
                    width: 36px;
                    border-radius: 50%;
                    border: 2px solid white;
                    margin-left: -12.5px;
                }
            }

            .users__count {
                font-weight: 600;
                font-size: 20px;
                margin-left: 10px;
            }

            .symbol__circle {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background: $background-color-light-mode;
                cursor: pointer;
                margin-left: 20px;

                span {
                    font-weight: 600;
                    transition: all 200ms ease-in-out;
                }

                &:hover {
                    span {
                        color: $text-color-highlight-light-mode;
                        transform: scale(1.4);
                    }
                }
            }
        }
    }
}

.chat__seperator {
    margin-top: -6px;
    height: 3px;
    box-shadow: 0px 2px 2px -0.5px rgba(0, 0, 0, 0.2);
}

app-secondary-chat-body {
    padding: 35px 35px 0 35px;
    flex: 2;
    overflow: auto;
}