@import "../../styles/settings/_variables.scss";

.secondary__chat__container {
    display: flex;
    flex-direction: column;
    background-color: $background-color-boxes-light-mode;
    border-radius: 30px;
    overflow: auto;
    width: 485px;
    height: calc(100vh - 140px);

    @media (width <= 1600px) {
        width: 404px;
    }

    @media (width <= 1400px) {
        width: 303px;
    }

    .secondary__chat__header {
        height: 40.063px;
        display: flex;
        justify-content: space-between;
        padding: 28px 45px;

        @media (width <= 1400px) {
            padding: 19px 15px;
        }

        .secondary__chat__header__left {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            padding: 6px 10px;
            border-radius: 100px;

            span {
                font-weight: 700;
            }

            .channel__title {
                line-height: $chat-title-line-height;
            }

            .subtitle {
                display: flex;
                align-items: center;
                margin-left: $chat-header-gap;

                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: $main-chat-dark-blue-background-light-mode;
                }

                .subtitle__name {
                    width: 229px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    @media (width <= 1600px) {
                        width: 148px;
                    }

                    @media (width <= 1400px) {
                        // width: 47px;
                        width: 107px;
                    }
                }
            }
        }

        .secondary__chat__header__right {
            .close__icon {
                font-size: 24px;
            }
        }
    }
}

.chat__seperator {
    margin-top: -6px;
    height: 3px;
    box-shadow: 0px 2px 2px -0.5px rgba(0, 0, 0, 0.2);
}

app-secondary-chat-body {
    padding: 35px 35px 0 35px;
    flex: 2;
    overflow: auto;
}