<div *ngIf="this.currentThread" class="secondary__chat__container">

    <div class="secondary__chat__header">
        <div class="secondary__chat__header__left">
            <span class="channel__title">Thread</span>
            <div class="subtitle">
                <span class="material-symbols-rounded">tag</span>
                <span class="subtitle__name">{{this.ChannelFromThread.name}}</span>
            </div>
        </div>
        <div class="secondary__chat__header__right" (click)="closeThread()">
            <div class="hover-area noSelect" (click)="closeThread()">
                <div class="transform-circle"></div>
                <span class="material-symbols-rounded single-icon close__icon">close</span>
            </div>
        </div>
    </div>

    <div class="chat__seperator"></div>

    <app-secondary-chat-body></app-secondary-chat-body>

    <app-secondary-chat-footer></app-secondary-chat-footer>
</div>