<div class="main-profil-container">
    <div class="start-profil-container">
        <p>Profil</p>
        <span class="material-icons">
            close
            </span>
    </div>



    <img src="/assets/img/secondaryChat/elias-neumann.webp" alt="">


    <div class="second-profil-container">

        <div class="name">
            <h2></h2>
            <a>Bearbeiten</a>
        </div>
        <p class="status">Aktiv</p>

    </div>

    <div class="contact">
        <p> <span class="material-icons"> email  </span> Email-Adresse</p>

        <a>thehoffmann@beispiel.com</a>
    </div>

    <button mat-flat-button color="primary">Nachricht</button>


</div>