<div *ngIf="this.userDetail&&this.currentUser" class="main__profil__container">
    <div class="start__profil__container">
        <h2>Profil</h2>
        <div (click)="closeDialog()" class="hover-area noSelect">
            <div class="transform-circle"></div>
            <span class="material-symbols-rounded single-icon">close</span>
        </div>
    </div>
    <img src="/assets/img/secondaryChat/elias-neumann.webp" alt="">
    <div class="second__profil__container">
        <div class="name">
            <div *ngIf="!editMode" class="name__display">{{this.userDetail.name}}</div>
            <input *ngIf="editMode"  [(ngModel)]="this.userDetail.name" type="text" maxlength="32" value="{{this.userDetail.name}}"
                #userNameInput (keydown.enter)="overwriteUserDataBackend()">
            <div *ngIf="this.userDetail.id === this.currentUser.id" (click)="initiateUserEditMode()">Bearbeiten</div>
        </div>
        <div class="status">
            <span>&#8226;</span>Aktiv
        </div>
    </div>
    <div class="contact">
        <span class="material-symbols-rounded">email</span>
        <div class="mail">
            <h3>E-Mail-Adresse</h3>
            <div *ngIf="!editMode" class="mail__display">{{this.userDetail.mail}}</div>
            <input *ngIf="editMode"  [(ngModel)]="this.userDetail.mail" type="text" maxlength="32" value="{{this.userDetail.mail}}"
                #userMailInput (keydown.enter)="overwriteUserDataBackend()">
        </div>
    </div>
    <div *ngIf="this.userDetail.id !== this.currentUser.id" mat-flat-button color="primary" (click)="createDM()"
        class="button">
        <span class="material-symbols-rounded">mode_comment</span>
        Nachricht
    </div>
    <div *ngIf="this.userDetail.id === this.currentUser.id" mat-flat-button color="primary" (click)="createDM()"
        class="button">
        <span class="material-symbols-rounded">mode_comment</span>
        Notiz
    </div>
</div>

<!-- 
<div *ngIf="this.UserDetail" class="main-profil-container">
    <div class="start-profil-container">
        <p>Profil</p>
        <span (click)="closeDialog()" class="material-icons">
            close
            </span>
    </div>



    <img src="/assets/img/secondaryChat/elias-neumann.webp" alt="">


    <div class="second-profil-container">

        <div class="name">
            <h2>{{this.UserDetail.Name}}</h2>
            <a>Bearbeiten</a>
        </div>
        <p class="status">Aktiv</p>

    </div>

    <div class="contact">
        <p> <span class="material-icons"> email  </span> e-mail-Adresse </p>

        <a>{{this.UserDetail.mail}}</a>
    </div>

    <button mat-flat-button color="primary" (click)="createDM()">Nachricht</button>

</div> -->