<div *ngIf="this.CurrentUser" class="main-profil-container">
    <div class="start-profil-container">
        <p>Profil</p>
        <span (click)="closeDialog()" class="material-icons">
            close
            </span>
    </div>



    <img src="/assets/img/secondaryChat/elias-neumann.webp" alt="">


    <div class="second-profil-container">

        <div class="name">
            <h2>{{this.CurrentUser.Name}}</h2>
            <a>Bearbeiten</a>
        </div>
        <p class="status">Aktiv</p>

    </div>

    <div class="contact">
        <p> <span class="material-icons"> email  </span> E-Mail-Adresse </p>

        <a>{{this.CurrentUser.mail}}</a>
    </div>

    <button mat-flat-button color="primary" (click)="createDM()">Nachricht</button>

</div>