::ng-deep mat-bottom-sheet-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bottom__sheet__container {
    hr {
        width: 100px;
        height: 5px;
        border: 0;
        background-color: #d9d9d9;
    }
}