::ng-deep mat-bottom-sheet-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bottom__sheet__container {

    hr {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 50px;
        height: 5px;
        border: 0;
        border-radius: 5px;
        background-color: #d9d9d9;
    }

    div {
        width: fit-content;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 15px 30px;
        margin: 5px 0 15px 10px;
        cursor: pointer;

        span {
            margin-right: 10px;
        }
    }
}