<form action="" id="chatForm">

    <textarea id="chatTextarea" name="message" placeholder="Nachricht an #Threadname" rows="1"></textarea>

    <div class="btn__area">
        <div class="btn__area__left">
            <div class="plus">
                <div class="hover-area noSelect">
                    <div class="transform-circle"></div>
                    <span class="material-symbols-rounded single-icon">add</span>
                </div>
            </div>
            <div class="hover-area noSelect reaction__icons">
                <div class="transform-circle"></div>
                <span class="material-symbols-rounded single-icon">sentiment_satisfied</span>
            </div>
            <div class="hover-area noSelect reaction__icons">
                <div class="transform-circle"></div>
                <span class="material-symbols-rounded single-icon">alternate_email</span>
            </div>
        </div>


        <div class="hover-area noSelect send__img send__img__disabled" id="sendImgBtn">
            <div class="transform-circle"></div>
            <img src="assets/img/mainChat/send.webp" alt="" class="single-icon">
        </div>
    </div>
</form>