@import "../../styles/settings/_variables.scss";

.login__screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        padding: 0px 38.5px;

        @media (width <= $mobile__breakpoint__general) {
            margin-top: 25px;
        }

        @media (width <= 768px) {
            margin-top: 0;
            justify-content: center;
            padding: 0;
        }

        img {
            width: 289px;
            height: 70px;

            @media (width <= 768px) {
                width: 230px;
                height: auto;
                padding-bottom: 25px;
                margin-top: 25px;
            }
        }

        .login__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            button {
                width: fit-content;
                text-align: center;
                background-color: rgba(0, 0, 0, 0);
                color: #797EF3;
                border: 1px solid rgba(0, 0, 0, 0);
                border-radius: 25px;
                padding: 8px 16px;
                font-size: 18px;
                font-weight: 400;
                font-family: inherit;
                cursor: pointer;
                transition: all 100ms ease-in;

                &:hover {
                    border: 1px solid #797EF3;
                    color: #444DF2;
                }
            }

            @media (width <= 768px) {
                display: none;
            }
        }
    }

    main {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .login__container {
            width: 521px;
            height: fit-content;
            background-color: white;
            padding: 43px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);

            h2 {
                color: #444DF2;
                font-size: 40px;
                font-weight: 700;
                font-family: 'Nunito', "Helvetica Neue", sans-serif !important;

                @media (width <= 768px) {
                    margin-bottom: 0;
                }
            }

            p {
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                margin-top: 26px;

                @media (width <= 768px) {
                    font-size: 15px;
                    margin-top: 16px;
                    margin-bottom: 0px;
                }
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 28px;

                .input__container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: text;

                    .material-symbols-rounded {
                        position: absolute;
                        left: 30px;
                        color: #686868;

                        @media (width <= 768px) {
                            font-size: 18px !important;
                        }
                    }

                    input {
                        font-family: 'Nunito', "Helvetica Neue", sans-serif !important;
                        width: 100%;
                        background-color: #ECEEFE;
                        border: none;
                        font-size: 18px !important;
                        height: 52px;
                        border-radius: 30px;
                        padding-left: 74px;
                        padding-right: 74px;
                        color: #686868;

                        &:focus {
                            outline: 1px solid #444DF2 !important;
                            backface-visibility: hidden;
                        }

                        &:-webkit-autofill {
                            -webkit-box-shadow: 0 0 0 30px #ECEEFE inset !important;
                            -webkit-text-fill-color: #686868 !important;
                        }

                        @media (width <= 768px) {
                            font-size: 14px !important;
                            padding-left: 60px;
                            padding-right: 50px;
                        }
                    }

                    &:hover {
                        input {
                            outline: 1px solid black;
                            backface-visibility: hidden;
                        }
                    }
                }

                .invalid__login {
                    height: 22px;
                    padding-top: 0px;

                    span {
                        color: red;
                    }

                    @media (width <= 768px) {
                        span {
                            font-size: 12px;
                        }
                    }
                }

                @media (width <= 768px) {
                    margin-top: 16px;
                }
            }

            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                padding: 5px 10px;
                border-radius: 20px;
                transition: scale 100ms ease-in;

                &:hover {
                    scale: 1.01;
                    background-color: #ECEEFE;
                    color: #444DF2;
                }

                @media (width <= 768px) {
                    padding: 0px 10px;
                }
            }

            .divider {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 16px;

                span {
                    z-index: 10;
                    background-color: white;
                    font-size: 18px;
                    padding: 0px 10px;
                }

                hr {
                    width: 100%;
                    border: 1px solid #ADB0D9;
                    margin-top: -6px;
                    margin-bottom: 6px;
                }
            }

            .google__btn {
                margin-top: 34px;
                width: 100%;
                background-color: #ECEEFE;
                border: none;
                font-size: 18px !important;
                height: 52px;
                border-radius: 30px;
                padding-left: 74px;
                padding-right: 74px;
                color: #686868;
                cursor: pointer;
                display: flex;
                justify-content: center;

                &:hover {
                    border: 1px solid #444DF2 !important;

                    .google__text {
                        font-weight: 700;
                        scale: 1.01;
                    }
                }

                .google__logo {
                    position: relative;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        position: absolute;
                        width: 27px;
                        height: 27px;
                        right: 20px;
                        margin-left: -20px;
                    }
                }

                .google__text {
                    font-family: 'Nunito', "Helvetica Neue", sans-serif !important;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #444DF2;
                    font-family: inherit;
                }

                @media (width <= 768px) {
                    margin-top: 16px;
                }
            }

            .btn__container {
                margin-top: 47px;

                button {
                    border-radius: 30px;
                    padding: 12px 25px;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: inherit;
                    cursor: pointer;
                    transition: all 100ms ease-in;

                    @media (width <= 768px) {
                        font-size: 17px;
                        padding: 10px 18px;
                    }
                }

                .btn__login {
                    background-color: #444DF2;
                    color: white;
                    border: none;
                    margin-right: 12.5px;

                    &:hover {
                        background-color: #797ef3;
                    }

                    @media (width <= 768px) {
                        margin-right: 10px;
                    }
                }

                .btn__guest {
                    background-color: white;
                    border: 1px solid #444DF2;
                    color: #444DF2;
                    margin-left: 12.5px;
                    transition: all 100ms ease-in;

                    &:hover {
                        background-color: #444DF2;
                        color: white;
                    }

                    @media (width <= 768px) {
                        margin-left: 10px;
                    }
                }

                .skew-shake-x {
                    animation: skew-x-shake 1.3s infinite;
                }

                @keyframes skew-x-shake {
                    0% {
                        transform: skewX(-15deg);
                    }

                    5% {
                        transform: skewX(15deg);
                    }

                    10% {
                        transform: skewX(-15deg);
                    }

                    15% {
                        transform: skewX(15deg);
                    }

                    20% {
                        transform: skewX(0deg);
                    }

                    100% {
                        transform: skewX(0deg);
                    }
                }

                @media (width <= 768px) {
                    margin-top: 16px;
                }
            }

            @media (width <= 768px) {
                padding: 35px 20px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }

        @media (width <= 768px) {
            height: fit-content;
        }
    }

    .hide__on__desktop {

        .login__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 25px;

            span {
                font-size: 24px;
                font-weight: 400;
                margin-top: 16px;
                margin-bottom: 16px;
            }

            button {
                width: fit-content;
                text-align: center;
                background-color: rgba(0, 0, 0, 0);
                color: #444DF2;
                border: 1px solid #444DF2;
                border-radius: 25px;
                font-size: 17px;
                padding: 10px 18px;
                font-weight: 700;
                font-family: inherit;
                cursor: pointer;

                &:active {
                    background-color: #444DF2;
                    color: white;
                }
            }
        }

        @media (width > 768px) {
            display: none;
        }
    }
}