.login-main-container {
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 20px;
        text-align: center;
    }
}

a {
    color: #797EF3;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline
    }
}

.login-menü {
    padding-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.right-login-menü {
    display: flex;
    flex-direction: column;
}

.left-login-menü {
    display: flex;
    align-items: center;
    img {
        height: 50px;
        width: 50px;
    }
    p {
        margin-left: 10px;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.login-container {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    height: 70%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

mat-form-field {
    background-color: #ECEEFE;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid transparent;
}

.guest-button {
    color: #444DF2;
    border: 2px solid #444DF2;
}

h2 {
    color: #444DF2;
    font-size: 46px;
    font-weight: 700px;
}