<div class="dialog-channel-view">
    <h2>
        # Channelname
    </h2>

    <div class="container">
        <div class="container-title">
            <p>Channel-Name</p>
            <a>Bearbeiten</a>
        </div>
        <p># Der echte ChannelName</p>
    </div>

    <div class="container">
        <div>
            <div class="container-title">
                <p>Beschreibung</p>
                <a> Bearbeiten</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique odit sed exercitationem laboriosam quam, quae architecto repudiandae adipisci sit mollitia natus illo eaque quasi, aliquid modi. Magni necessitatibus libero dolores.</p>
        </div>
        <div>
            <p>Erstellt von</p>
            <p>Noah Braun</p>
        </div>
    </div>

    <button mat-flat-button color="primary">Channel verlassen</button>

</div>