<div *ngIf="this.CurrentChannel" class="dialog-channel-view">
    <h2>
        # {{this.CurrentChannel.Name}}
    </h2>

    <div class="container">
        <div class="container-title">
            <p>Channel-Name</p>
            <a (click)="editChannelName()">Bearbeiten</a>
        </div>
        <p># {{this.CurrentChannel.Name}}</p>
        <div *ngIf="editName">
            <input [(ngModel)]="this.CurrentChannel.Name" type="text" value="{{this.CurrentChannel.Name}}">
            <button (click)="editChannelNameInFirebase()" mat-flat-button color="primary">Name ändern</button>
        </div>
    </div>

    <div class="container">
        <div>
            <div class="container-title">
                <p>Beschreibung</p>
                <a (click)="editDescriptionName()"> Bearbeiten</a>

            </div>
            <p>{{this.CurrentChannel.description}}</p>

            <div *ngIf="editDescription">
                <input [(ngModel)]="this.CurrentChannel.description" type="text" value="{{this.CurrentChannel.description}}">
                <button (click)="editDescriptionInFirebase()" mat-flat-button color="primary">Name ändern</button>
            </div>

        </div>
        <div>
            <p>Erstellt von</p>
            <p>{{this.CurrentChannel.founder.Name}}</p>
        </div>
    </div>

    <button (click)="leaveChannel()" mat-flat-button color="primary">Channel verlassen</button>

</div>