.dialog-channel-view {
    background-color: white;

    * {
        color: black;
    }

    .title__channel__view {
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        .headline {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90%;

            span {
                margin-right: 16px;
                font-weight: 700;
            }
        }

        .single-icon {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .channel__view__header {
        padding: 20px;
        margin-top: 16px;
        border: 1px solid #ADB0D9;
        border-radius: 20px;
        font-size: 18px;

        .channel__header__row1 {
            display: flex;
            justify-content: space-between;

            .channel__header__row1__left {
                font-weight: 700;
            }

            .channel__header__row1__right {
                color: #535AF1;
                transition: all 100ms ease-in;
                cursor: pointer;

                &:hover {
                    font-weight: 700;
                }
            }
        }

        .channel__header__row2 {
            margin-top: 16px;
            display: flex;
            align-items: center;

            .material-symbols-rounded {
                font-size: 18px;
                font-weight: 700;
                margin-right: 12px;
            }

            div {
                font-size: 18px;
                margin-top: 3px;
                margin-bottom: 3px;
                margin-left: 2px;
            }

            input {
                width: 100%;
                font-family: "Nunito", "Helvetica Neue", sans-serif !important;
                border: none;
                outline: none;
                font-size: 18px;
                background-color: #eceefe;
                border-radius: 3px;
                margin-right: 32px;
            }
        }
    }

    .channel__view__body {
        padding: 20px;
        margin-top: 16px;
        border: 1px solid #ADB0D9;
        border-radius: 20px;
        font-size: 18px;

        .channel__body__row1 {
            display: flex;
            justify-content: space-between;

            .channel__body__row1__left {
                font-weight: 700;
            }

            .channel__body__row1__right {
                color: #535AF1;
                transition: all 100ms ease-in;
                cursor: pointer;

                &:hover {
                    font-weight: 700;
                }
            }
        }

        .channel__body__row2 {
            margin-top: 16px;
            display: flex;
            align-items: center;

            div {
                font-size: 18px;
                margin-top: 3px;
                margin-bottom: 3px;
                margin-left: 2px;
            }

            input {
                width: 100%;
                font-family: "Nunito", "Helvetica Neue", sans-serif !important;
                border: none;
                outline: none;
                font-size: 18px;
                background-color: #eceefe;
                border-radius: 3px;
            }
        }

        hr {
            margin-top: 16px;
            border: 1px solid #ADB0D9;
            border-bottom: 0;
        }

        .channel__body__row3 {
            margin-top: 16px;
            font-size: 18px;
            font-weight: 700;
        }

        .channel__body__row4 {
            margin-top: 16px;
            font-size: 24px;
            color: #535AF1;
        }
    }

    .channel__view__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        .button {
            display: flex;
            align-items: flex-start;
            border-radius: 30px;
            margin-top: 16px;
            padding: 12px 25px;
            font-size: 18px;
            font-weight: 400;
            font-family: inherit;
            cursor: pointer;
            transition: all 100ms ease-in;
            background-color: #444DF2;
            color: white;
            border: none;

            &:hover {
                background-color: #797ef3;
            }
        }
    }
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1.5px solid #ADB0D9;
    border-radius: 20px;
}

.container-title {
    display: flex;
    justify-content: space-between;

    a {
        color: #535AF1;
        cursor: pointer;
    }
}

::ng-deep .members__view__matdialog {
    mat-dialog-container {
        width: 800px;
        height: fit-content;
        border-radius: 30px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
        padding: 30px;
    }
}