<div class="container__create__channel">
    <div class="title__create__channel">
        <h2>Channel erstellen</h2>
        <div class="hover-area noSelect" (click)="closeDialog()">
            <div class="transform-circle"></div>
            <span class="material-symbols-rounded single-icon add-icon">close</span>
        </div>
    </div>

    <div class="description__create__channel">Channels dienen deinen Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.</div>

    <form action="">
        <div class="name__channel">Channel-Name</div>
        <div class="input__container" (click)="focusChannelNameInput()">
            <span class="material-symbols-rounded noSelect">
                tag
            </span>
            <input autocomplete="off" placeholder="z.B. Kooperationsprojekte" type="text" [(ngModel)]="channel.name" name="name" #channelName required>
        </div>
        <div class="name__channel">Beschreibung <span class="optional">(optional)</span></div>
        <textarea  type="text" [(ngModel)]="channel.description" name="description" rows="2"></textarea>
    </form>

    <div class="create__channel__footer">
        <button [disabled]="!channel.name || channel.name.length === 0"
            (click)="createChannel(this.channel)" [ngClass]="{ 'disabled__button': !channel.name || channel.name.length === 0 }">Erstellen</button>
    </div>
</div>


<!-- <div class="container-create-channel">
    <div class="title-create-channel">
        <h2>Channel erstellen</h2>
        <span (click)="closeDialog()" class="material-icons">
            close
        </span>
    </div>
    
    <p class="description-create-channel">Channels dienen deinen Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.</p>

    <p class="name-channel">Channel-Name</p>

    <input class="background" type="text" [(ngModel)]="Channel.Name" name="Name">

    <p class="name-channel">Beschreibung <span class="optional">(optional)</span></p>

    <input type="text" [(ngModel)]="Channel.description" name="description">
    <div class="button">
        <button mat-flat-button color="primary" [disabled]="!Channel.Name || Channel.Name.length === 0"
            (click)="createChannel(this.Channel)">Channel erstellen</button>
    </div>
</div> -->