<div class="container-create-channel">
    <div class="title-create-channel">
        <h2>Channel erstellen</h2>
        <span (click)="closeDialog()" class="material-icons">
            close
        </span>
    </div>



    <p class="description-create-channel">Channels dienen deinen Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.</p>

    <p class="name-channel">Channel-Name</p>

    <input class="background" type="text" [(ngModel)]="Channel.Name" name="Name">

    <p class="name-channel">Beschreibung <span class="optional">(optional)</span></p>

    <input type="text" [(ngModel)]="Channel.description" name="description">
    <div class="button">
        <button mat-flat-button color="primary" [disabled]="!Channel.Name || Channel.Name.length === 0"
            (click)="createChannel(this.Channel)">Channel erstellen</button>
    </div>
</div>