.container__profile__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.1s ease-in;

    &:hover {
        color: #797ef3;
    }
}

.proflie__menu__name {
    font-weight: 700;
    font-size: 32px;
    margin-left: 17.5px;
}

img {
    display: inline;
    height: 70px;
    margin-left: 17.5px;
    border-radius: 50%;
    cursor: pointer;
}

span {
    margin-left: 17.5px;
    font-weight: 700;
}