<div class="container__create__channel">
    <div class="title__add__people">
        <h2>Leute hinzufügen</h2>
        <div class="hover-area noSelect" (click)="closeDialog()">
            <div class="transform-circle"></div>
            <span class="material-symbols-rounded single-icon add-icon">close</span>
        </div>
    </div>
    <div class="input__section">
        <div class="custom__radio">
            <input class="radio__btn" type="radio" id="radioOption1" name="radioGroup" (click)="ChannelWithCertainPeople()">
            <label class="radio__text" for="radioOption1">alle Leute</label>
        </div>
        <div class="custom__radio">
            <input class="radio__btn" type="radio" id="radioOption2" name="radioGroup" (click)="ChannelWithoutCertainPeople()">
            <label class="radio__text" for="radioOption2">ausgewählte Leute</label>
        </div>
        <input class="name__search" *ngIf="certainPeople" type="text" placeholder="Name eingeben" [(ngModel)]="inputParticipants" (ngModelChange)="this.filterUser()">
    </div>
    <div *ngIf="this.filteredUsers">
        <div>gefilterte user</div>
        <div *ngFor="let user of filteredUsers">
            <div (click)="PushUserToMember(user)">{{user.Name}}</div>
        </div>
    </div>
    <div *ngIf="this.data.members.length > 0">
        <div>ausgwählte user</div>
        <div *ngFor="let members of this.data.members">
            <div>{{members.Name}}</div>
        </div>
    </div>
    <!-- <div class="button">
        <button [disabled]="!buttonActive" (click)="createChannel()" mat-flat-button color="primary">Erstellen</button>
    </div> -->
    <div class="add__members__footer">
        <button [disabled]="!buttonActive" [ngClass]="{ 'disabled__button': !buttonActive }" (click)="createChannel()">Erstellen</button>
    </div>
</div>