// .container__create__channel {
//     width: 782px;
//     height: 450px;
// }

.title__add__people {
    display: flex;
    justify-content: space-between;

    * {
        font-size: 24px;
        font-weight: 700;
    }

    h2 {
        font-family: 'Nunito', "Helvetica Neue", sans-serif !important;
    }

    .hover-area {
        &:hover {
            span {
                color: #444DF2;
            }
        }
    }
}

.input__section {
    font-size: 18px;

    .custom__radio {
        position: relative;
        margin-top: 16px;

        .radio__btn {
            margin-top: 0px;
            margin-right: 16px;
            margin-bottom: 0px;
            width: 16px;
            height: 16px;
        }

        .radio__text {
            position: absolute;
            top: -3px;
        }
    }
}

.input__section * {
    margin-bottom: 8px;
}

.button {
    width: 90%;
    display: flex;
    justify-content: end;
}

.add__members__footer {
    display: flex;
    justify-content: flex-end;

    button {
        border-radius: 30px;
        padding: 12px 25px;
        font-size: 18px;
        font-weight: 700;
        font-family: inherit;
        cursor: pointer;
        transition: all 100ms ease-in;
        background-color: #444DF2;
        color: white;
        border: none;
        margin-top: 16px;

        &:hover {
            background-color: #797ef3;
        }
    }

    .disabled__button {
        background-color: gray !important;
        cursor: not-allowed;

        &:hover {
            background-color: gray;
        }
    }
}