<div class="container-add-Member">
    <div>
        <p>Leute hinzufügen</p>
        <span (click)="closeDialog()" class="material-icons">close</span>
    </div>
    <div>

        <div class="custom-radio">
            <input type="radio" id="radioOption1" name="radioGroup" (click)="ChannelWithCertainPeople()">
            <label for="radioOption1">alle Leute</label>
        </div>

        <div class="custom-radio">
            <input type="radio" id="radioOption2" name="radioGroup" (click)="ChannelWithoutCertainPeople()">
            <label for="radioOption2">ausgwählte Leute</label>
        </div>


        <input *ngIf="certainPeople" type="text" placeholder="Name eingeben" [(ngModel)]="inputParticipants" (ngModelChange)="this.filterUser()">
    </div>

    <div *ngIf="this.filteredUsers">
        <p>gefilterte user</p>
        <div *ngFor="let user of filteredUsers">
            <p (click)="PushUserToMember(user)">{{user.Name}}</p>
        </div>
    </div>

    <div *ngIf="this.data.members.length > 0">
        <p>ausgwählte user</p>
        <div *ngFor="let members of this.data.members">
            <p>{{members.Name}}</p>
        </div>
    </div>

    <div class="button">
        <button (click)="createChannel()" mat-flat-button color="primary">Erstellen</button>
    </div>
</div>