<form class="search__form">
    <input [(ngModel)]="inputParticipants" type="search" placeholder="Sync Space durchsuchen" id="searchInput" (ngModelChange)="this.Search()" name="inputParticipants">
    <span class="material-symbols-rounded" id="searchIcon">
        search
    </span>


</form>

<div *ngIf="filteredChannels.length > 0 || filteredUsers.length > 0" class="search__results">
    <div *ngFor="let channel of this.filteredChannels" (click)="test(channel.customIdName)">
        {{channel.Name}}</div>

    <div *ngFor="let user of this.filteredUsers" (click)="this.openDialogProfil(user.customIdName)">
        {{user.Name}}</div>
</div>