<form class="search__form noSelect">
    <input [(ngModel)]="inputParticipants" placeholder="Sync Space durchsuchen" id="searchInput"
        (ngModelChange)="this.Search()" name="inputParticipants" autocomplete="off" #searchInputRef>
    <span class="material-symbols-rounded" id="searchIcon" (click)="searchInputRef.focus()">
        search
    </span>
</form>

<div *ngIf="filteredChannels.length > 0 || filteredUsers.length > 0" class="search__results noSelect">
    <div class="result__row" *ngFor="let channel of this.filteredChannels" (click)="updateUserInFirbase(channel.customIdName)">
        <span class="material-symbols-rounded">tag</span>
        {{channel.name}}
    </div>
    <div class="result__row" *ngFor="let user of this.filteredUsers" (click)="this.openDialogProfil(user.customIdName)">
        <img src={{user.profileImage}} alt="" srcset="">
        {{user.name}}
    </div>
</div>