img {
    display: block;

    &:hover {
        cursor: pointer;
    }
}

.logo__mobile {
    height: 60px;
    cursor: default !important;
    margin-left: 15px;
}

.channels__button__mobile {
    padding: 20px 0;
}