$background-color-boxes-light-mode: #FFFFFF;
$background-color-light-mode: #ECEEFE;
$text-color-light-mode: #000;
$text-color-highlight-light-mode: #535AF1;
$main-chat-borders-light-mode: #ADB0D9;
$main-chat-light-grey-light-mode: #686868;
$main-chat-dark-blue-background-light-mode: #797EF3;

$chat-title-line-height: 120%;
$chat-header-gap: 15px;

$general__margin: 25px;

$mobile__breakpoint__general: 1200px;

:root {
    --mobile-breakpoint-general: #{$mobile__breakpoint__general};
}