<div class="menu__sidebar__left__body__dm__header noSelect">
  <div
    class="menu__sidebar__left__body__dm__header__left highlight__text__on__hover noSelect"
    (click)="viewAllDMS()"
  >
    <span *ngIf="viewChannels" class="material-symbols-rounded single-icon"
      >arrow_drop_down</span
    >
    <span *ngIf="!viewChannels" class="material-symbols-rounded single-icon"
      >arrow_right</span
    >
    <span class="material-symbols-rounded dm__icon">workspaces</span
    ><span id="dmHeadline">Direktnachrichten</span>
  </div>
</div>

<div
  id="dmChannelsBody"
  *ngIf="viewChannels"
  class="menu__sidebar__left__body__dm__body drop__drown__animation noSelect"
>
  <div
    class="menu__sidebar__left__body__dm__body__row highlight__bg__on__hover noSelect active__dm"
    (click)="openChat(this.personalDm)"
    [class.active__dm]="this.personalDm == this.currentUser.currentDM"
  >
    <img src="{{ this.currentUser.profileImage }}" alt="" srcset="" />
    <span>{{ this.currentUser.name }} (Du)</span>
  </div>

  <ng-container *ngFor="let dmName of finalDm">
    <div
      class="menu__sidebar__left__body__dm__body__row highlight__bg__on__hover noSelect"
      [class.active__dm]="dmName.dmId == this.currentUser.currentDM"
    >
      <div (click)="openChat(dmName.dmId)">
        <img src="{{ dmName.finalUser.profileImage }}" alt="" srcset="" />
        <span>{{ dmName.finalUser.name }}</span>
      </div>
    </div>
  </ng-container>
</div>
