@import "../../styles/settings/_variables.scss";

.highlight__text__on__hover {
    &:hover {
        color: $text-color-highlight-light-mode;
        transition: color 100ms ease-in;
    }
}

.menu__sidebar__left__body__dm__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .menu__sidebar__left__body__dm__header__left {
        display: flex;
        align-items: center;
        padding: 8px 0;
        cursor: pointer;

        .dm__icon {
            font-weight: 900;
        }

        #dmHeadline {
            font-weight: 700;
            font-size: 20px;
        }
    }

    span {
        margin-right: 10px;
    }

    img {
        width: 121px;
        height: 27px;
    }
}


.add-icon {
    font-size: 30px;
    margin-right: 5px !important;
}

.menu__sidebar__left__body__dm__body {
    padding-left: 14px;

    * {
        cursor: pointer;
    }

    .highlight__bg__on__hover {
        &:hover {
            background-color: $background-color-light-mode;
            transition: color 100ms ease-in;

            .dm__icons {
                color: $text-color-highlight-light-mode;
            }
        }
    }

    .menu__sidebar__left__body__dm__body__row {
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 4px 20px;
        border-radius: 30px;

        div {
            display: flex;
            align-items: center;
        }

        img {
            width: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }
    }

    .active__dm {
        background-color: $background-color-light-mode;
        color: $text-color-highlight-light-mode;
        font-weight: 700;
    }
}