<div class="menu__sidebar__left__body__channels">

    <div class="menu__sidebar__left__body__channels__header">
        <div class="menu__sidebar__left__body__channels__header__left highlight__text__on__hover noSelect">
            <span class="material-symbols-rounded single-icon">arrow_drop_down</span>
            <span class="material-symbols-rounded channels__icon">workspaces</span><span id="channels__headline">Direktnachrichten</span>
        </div>
    </div>

    <div class="menu__sidebar__left__body__channels__body">

        <div class="menu__sidebar__left__body__channels__body__row highlight__bg__on__hover noSelect active__channel">
            <img src="assets/img/users/elias-neumann.webp" alt="" srcset="">
            <span class="channels__channelname">Yang Mei (Du)</span>
        </div>
        <div class="menu__sidebar__left__body__channels__body__row highlight__bg__on__hover noSelect">
            <img src="assets/img/users/elise-roth.webp" alt="" srcset="">
            <span class="channels__channelname">Zhang Wei</span>
        </div>
        <div class="menu__sidebar__left__body__channels__body__row highlight__bg__on__hover noSelect">
            <img src="assets/img/users/frederick-beck.webp" alt="" srcset="">
            <span class="channels__channelname">Chen Jing</span>
        </div>
        <div class="menu__sidebar__left__body__channels__body__row highlight__bg__on__hover noSelect">
            <img src="assets/img/users/noah-braun.webp" alt="" srcset="">
            <span class="channels__channelname">Li Ming</span>
        </div>
    </div>

</div>