@import "../../styles/settings/_variables.scss";

.main__chat__body {
    padding: 35px;

    .main__chat__body__message {

        .separator {

            hr {
                border: 0;
                border-top: 1px solid $main-chat-separator-light-mode;
                margin-bottom: -10px;
            }
    
            .date {
                display: flex;
                justify-content: center;
    
                span {
                    background-color: $background-color-boxes-light-mode;
                    border: 1px solid $main-chat-separator-light-mode;
                    border-radius: 30px;
                    font-weight: 600;
                    font-size: 18;
                    padding: 5px 15px;
                }
            }
        }
    }
}