<ng-container *ngIf="currentChannelMessage && currentChannelMessage.length; else noMessageTemplate">
    <div class="main__chat__body__message noSelect" *ngFor="let message of currentChannelMessage"
        [class.content__left]="message.creator.id === this.dataService.id" #messageElements>

        <div *ngIf="lastDateDisplayed(message.timestamp)" class="separator">
            <hr>
            <div class="date">
                <!-- <span>{{this.date}}</span> -->
                <span>{{ formatDay(message.timestamp) }}</span>
            </div>

        </div>

        <div class="message__body">

            <div style="display:none;" class="action__messages">
                <div class="hover-area noSelect">
                    <div class="transform-circle"></div>
                    <img src="assets/img/mainChat/check-mark.webp" alt="" class="user_img single-icon">
                </div>
                <div class="hover-area noSelect">
                    <div class="transform-circle"></div>
                    <img src="assets/img/mainChat/hands-up.webp" alt="" class="user_img single-icon">
                </div>
                <div class="hover-area noSelect">
                    <div class="transform-circle"></div>
                    <img src="assets/img/mainChat/add-reaction.webp" alt="" class="user_img single-icon">
                </div>
                <div class="hover-area noSelect">
                    <div class="transform-circle"></div>
                    <img src="assets/img/mainChat/answer.webp" alt="" class="user_img single-icon">
                </div>
            </div>

            <img src="{{this.message.creator.profileImage}}" alt="" class="user_img"
                (click)="openDialogProfil(this.message.creator.id)">
            <div class="user__text">
                <div class="user__text__header">
                    <span (click)="openDialogProfil(this.message.creator.id)"
                        class="user__name">{{message.creator.name}}</span>
                    <span class="message__timestamp">{{ formatDate(message.timestamp) }}</span>
                </div>
                <div class="user__text__body">
                    <span>{{message.text}}</span>
                    <img *ngIf="message.image" [src]="message.imageUrl">
                </div>
                <div class="user__text__footer">
                    <span *ngIf="message.lastAnswer" (click)="openThread(message.messageId, this.currentUser.lastChannel)" class="answers">{{message.answer}}
                        Antworten</span>
                        <span *ngIf="!message.lastAnswer" (click)="openThread(message.messageId, this.currentUser.lastChannel)" class="answers">keine
                            Antworten</span>
                    <span *ngIf="message.lastAnswer" class="last__answer">Letzte Antwort {{ formatDate(message.lastAnswer)}}</span>
                </div>
            </div>

        </div>

    </div>
</ng-container>

<ng-template #noMessageTemplate>
    <div class="no__messages noSelect">
        <!-- <div class="header">
            <span class="material-symbols-rounded">tag</span>{{this.currentChannel.name}}
        </div> -->
        <div class="header">
            <span class="material-symbols-rounded">tag </span>{{channelName}}
        </div>
        <!-- <div class="conversation">Diese Unterhaltung findet nur zwischen <span (click)="openDialogProfil(speaker.name)">@{{speaker.name}}</span> und dir statt.</div> -->
        <div class="body">
            Das ist der Channel <span>#{{channelName}}</span>.
        </div>
    </div>
</ng-template>