<div class="main__chat__body">
    <div class="main__chat__body__message">

        <div class="separator">
            <hr>
            <div class="date">
                <span>Dienstag, 14 Januar</span>
            </div>    
        </div>

        <div class="message__body content__left">
            <img src="assets/img/users/elias-neumann.webp" alt="" class="user_img">
            <div class="user_text">
                <div class="user_text__header">
                    <span class="user__name">Noah Braun</span>
                    <span class="message__timestamp">14:25 Uhr</span>
                </div>
                <div class="user_text__body">
                    <span>Welche Version ist aktuell von Angular?</span>
                </div>
                <div class="user_text__footer">
                    <span>2 Antworten</span>
                    <span>Letzte Antwort 14:56</span>
                </div>
            </div>
        </div>

    </div>
    
    
    <div class="main__chat__body__message">

        <div class="separator">
            <hr>
            <div class="date">
                <span>Heute</span>
            </div>    
        </div>

        <div class="message__body content__right">
            <img src="assets/img/users/elias-neumann.webp" alt="" class="user_img">
            <div class="user_text">
                <div class="user_text__header">
                    <span class="user__name">Frederik Beck</span>
                    <span class="message__timestamp">15:06 Uhr</span>
                </div>
                <div class="user_text__body">
                    <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
                </div>
                <div class="user_text__footer">
                    <span class="material-symbols-rounded">
                        add_reaction
                        </span>
                </div>
            </div>
        </div>

    </div>

</div>