<div class="main__chat__body">
    <div class="main__chat__body__message">

        <div class="separator">
            <hr>
            <div class="date">
                <span>Dienstag, 14 Januar</span>
            </div>    
        </div>

        <div class="message__body content__left">
            <img src="assets/img/users/elias-neumann.webp" alt="" class="user_img">
            <div class="user_text">
                <div class="user_text__header">
                    <span>Noah Braun</span>
                    <span>14:25 Uhr</span>
                </div>
                <div class="user_text__body">
                    <span>Welche Version ist aktuell von Angular?</span>
                </div>
                <div class="user_text__footer">
                    <span>2 Antworten</span>
                    <span>Letzte Antwort 14:56</span>
                </div>
            </div>
        </div>

    </div>
    
    
    <div class="main__chat__body__message">

        <div class="separator">
            <hr>
            <div class="date">
                <span>Dienstag, 14 Januar</span>
            </div>    
        </div>

        <div class="message__body content__right">
            <img src="assets/img/users/elias-neumann.webp" alt="" class="user_img">
            <div class="user_text">
                <div class="user_text__header">
                    <span>Noah Braun</span>
                    <span>14:25 Uhr</span>
                </div>
                <div class="user_text__body">
                    <span>Welche Version ist aktuell von Angular?</span>
                </div>
                <div class="user_text__footer">
                    <span>2 Antworten</span>
                    <span>Letzte Antwort 14:56</span>
                </div>
            </div>
        </div>

    </div>

</div>