<div *ngIf="this.CurrentChannel" class="main__chat__container">
    <button (click)="test()">tests</button>
    <div class="main__chat__header">
        <div (click)="openDialogChannelView(dataService.id)" class="main__chat__header__left">
            # {{this.CurrentChannel.Name}}
        </div>
        <div class="main__chat__header__right">

        </div>
    </div>

    <div class="chat__seperator"></div>

    <div class="main__chat__body">
        <div class="main__chat__body__message">

        </div>
        <div class="main__chat__body__message">

        </div>
    </div>

    <div class="main__chat__footer">
        <form class="search__form">
            <mat-form-field>
                <mat-label>Nachricht an #Entwicklerteam</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </form>
        <div>
            +
        </div>
        <div>
            Send
        </div>
    </div>
</div>