<div *ngIf="this.currentChannel" class="main__chat__container">

    <div class="main__chat__header">

        <div (click)="openDialogChannelView(this.currentChannel.id)" class="main__chat__header__left">
            <div class="material-symbols-rounded">tag</div>
            <div class="channel__title">{{this.currentChannel.name}}</div>
            <div class="material-symbols-rounded noSelect hidden__mobile">
                expand_more
            </div>
        </div>

        <div class="main__chat__header__right">
            <div (click)="openDialogMembersView(this.currentChannel.members)" class="header__users__img">
                <img src="assets/img/users/elias-neumann.webp" alt="">
                <img src="assets/img/users/elise-roth.webp" alt="">
                <img src="assets/img/users/frederick-beck.webp" alt="">
            </div>
          <!--  <span class="users__count">{{this.currentChannel.members.length}}</span> -->
            <div class="symbol__circle">
                <span class="material-symbols-rounded">person_add</span>
            </div>
        </div>
    </div>

    <div class="chat__seperator"></div>

    <app-main-chat-body #scrollMe></app-main-chat-body>

    <app-main-chat-footer [channelName]="this.currentChannel.name"></app-main-chat-footer>
</div>