@import "../../styles/settings/_variables.scss";

.main__chat__container {
    display: flex;
    flex-direction: column;
    background-color: $background-color-boxes-light-mode;
    border-radius: 30px;
    height: calc(100vh - 140px);

    @media (width <=$mobile__breakpoint__general) {
        height: calc(100vh - 90px);
        border-radius: 0;
    }

    .main__chat__header {
        display: flex;
        justify-content: space-between;
        padding: 24px 45px;

        @media (width <=1400px) {
            padding: 15px 15px;
        }

        @media (width <=$mobile__breakpoint__general) {
            padding: 0;
            height: 60px;
        }

        .main__chat__header__left {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            padding: 6px 10px;
            border-radius: 100px;
            margin-right: 22.5px;
            cursor: pointer;
            min-width: 0px;

            &:hover {
                background-color: $background-color-light-mode;
                color: $text-color-highlight-light-mode;
                transition: all 200ms ease-in;
            }

            @media (width <=$mobile__breakpoint__general) {
                padding: 0 7.5px 0 15px;
                border-radius: 0;
                margin-right: 0;
            }

            div {
                font-weight: 700;

                @media (width <=$mobile__breakpoint__general) {
                    font-size: 20px;
                }
            }

            .channel__title {
                line-height: $chat-title-line-height;
                margin-left: $chat-header-gap;
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (width <=$mobile__breakpoint__general) {
                    font-size: 20px;
                    margin: 0 10px;
                }
            }
        }

        .main__chat__header__right {
            display: flex;
            align-items: center;

            .header__users {
                display: flex;
                align-items: center;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-right: 12px;
                padding-left: 28px;
                border-radius: 25px;
                transition: all 100ms ease-in;
                cursor: pointer;

                &:hover {
                    background-color: $background-color-light-mode;
                }

                .header__users__img {
                    display: flex;
                    align-items: center;

                    img {
                        width: 36px;
                        border-radius: 50%;
                        border: 2px solid white;
                        margin-left: -12.5px;
                    }
                }
            }

            .users__count {
                font-weight: 600;
                font-size: 20px;
                margin-left: 10px;
            }

            .symbol__circle__desktop {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background: $background-color-light-mode;
                cursor: pointer;
                margin-left: 20px;

                @media (width <=$mobile__breakpoint__general) {
                    width: 34px;
                    height: 34px;
                    margin-left: 0;
                }

                span {
                    font-weight: 600;
                    transition: all 200ms ease-in-out;

                    @media (width <=$mobile__breakpoint__general) {
                        font-size: 18px;
                    }
                }

                &:hover {
                    span {
                        color: $text-color-highlight-light-mode;
                        transform: scale(1.4);
                    }
                }
            }

            .symbol__circle__mobile__container {
                padding: 13px 15px 13px 22.5px;

                .symbol__circle__mobile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: $background-color-light-mode;
                    width: 34px;
                    height: 34px;
                    margin-left: 0;
                    cursor: pointer;

                    span {
                        font-weight: 600;
                        transition: all 200ms ease-in-out;
                        font-size: 18px;
                    }

                    &:hover {
                        span {
                            color: $text-color-highlight-light-mode;
                            transform: scale(1.4);
                        }
                    }
                }
            }
        }
    }
}

.chat__seperator {
    margin-top: -6px;
    height: 3px;
    box-shadow: 0px 2px 2px -0.5px rgba(0, 0, 0, 0.2);
}

app-main-chat-body {
    padding: 35px 35px 0 35px;
    flex: 2;
    overflow: auto;
    height: auto;

    @media (width <=1400px) {
        padding: 15px 15px 0 15px;
    }
}