<div *ngIf="this.CurrentChannel" class="main__chat__container">
    <button (click)="test()">tests</button>
    <div class="main__chat__header">
        <div (click)="openDialogChannelView(dataService.id)" class="main__chat__header__left">
            # {{this.CurrentChannel.Name}}
            <span class="material-symbols-rounded noSelect hidden__mobile">
                expand_more
            </span>
        </div>
        <div class="main__chat__header__right">
            <div class="header__users__img">
                <img src="assets/img/users/elias-neumann.webp" alt="">
                <img src="assets/img/users/elise-roth.webp" alt="">
                <img src="assets/img/users/frederick-beck.webp" alt="">
            </div>
            <span class="users__count">3</span>
            <span class="material-symbols-rounded">person_add</span>
        </div>
    </div>

    <div class="chat__seperator"></div>

    <div class="main__chat__body">
        <div class="main__chat__body__message">
            <hr>
            <div class="date">
                Dienstag, 14 Januar
            </div>
            <div class="message__body">
                <img src="assets/img/users/elias-neumann.webp" alt="" class="user_img">
                <div class="user_text">

                </div>
            </div>

        </div>
        <div class="main__chat__body__message">

        </div>
    </div>

    <div class="main__chat__footer">
        <form class="search__form">
            <mat-form-field>
                <mat-label>Nachricht an #Entwicklerteam</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </form>
        <div>
            +
        </div>
        <div>
            Send
        </div>
    </div>
</div>