<div class="new__password__screen">
    <header>
        <img src="assets/img/logos/logo-default-no-arrow.webp" alt="">
    </header>
    <main>
        <div class="new__password__container">
            <div class="side__left">
                <div [routerLink]="''" class="hover-area noSelect arrowback">
                    <div class="transform-circle"></div>
                    <span class="material-symbols-rounded single-icon add-icon">arrow_back</span>
                </div>
            </div>
            <div class="container__main">
                <h2>Passwort zurücksetzen</h2>
                <form action="">
                    <div class="input__container">
                        <input class="input" type="text" placeholder="Neues Passwort" required>
                    </div>
                    <div class="input__container second__input">
                        <input class="input" type="text" placeholder="Neues Passwort bestätigen" #newPassword required>
                    </div>
                </form>

                <div class="container__footer">
                    <button class="btn__change__password" (click)="test(newPassword.value)">Passwort ändern</button>
                </div>
            </div>
            <div class="side__right"></div>
        </div>
    </main>
</div>


<!-- <input type="text">
<input type="text" #newPassword>

<button (click)="test(newPassword.value)">fdssdfsfd</button> -->