<div class="new__password__screen">
    <header>
        <img src="assets/img/logos/logo-default-no-arrow.webp" alt="">
    </header>
    <main>
        <div class="new__password__container">
            <div class="side__left">
                <div [routerLink]="''" class="hover-area noSelect arrowback">
                    <div class="transform-circle"></div>
                    <span class="material-symbols-rounded single-icon add-icon">arrow_back</span>
                </div>
            </div>
            <div class="container__main">
                <h2>Passwort zurücksetzen</h2>
                <form action="">
                    <input (input)="validateNewPassword0(newPassword0.value)" type="text" placeholder="Neues Passwort"
                        #newPassword0 required>
                    <input (input)="validateNewPassword1(newPassword1.value)" type="text"
                        placeholder="Neues Passwort bestätigen" #newPassword1 required>
                </form>
                <div *ngIf="!newPasswordsIdentically" class="passwords__not__identically">Die beiden Passwörter stimmen
                    nicht überein</div>
                <div class="container__footer">
                    <button [disabled]="!validNewPasswords" class="btn__change__password"
                        (click)="changeNewPassword(newPassword0.value, newPassword1.value)"
                        [ngClass]="{ 'blue__button': validNewPasswords }">Passwort
                        ändern</button>
                </div>
            </div>
            <div class="side__right"></div>
            <div class="new__password__success" #newPasswordSuccess>
                <span class="material-symbols-rounded">login</span>
                <span>Anmelden</span>
            </div>
        </div>
    </main>
</div>


<!-- <input type="text">
<input type="text" #newPassword>

<button (click)="test(newPassword.value)">fdssdfsfd</button> -->